$link-color: #00bcd4;

.link {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: lighten($link-color, 10%);
  }
}

.v-spacing {
  margin: 1em 0;
}

.error {
  background: rgb(240, 115, 115);
  padding: .5em;
  color: white;
}

.container {
  margin: 0 auto;
  width: 70em;
}

.reset-link {
  color: inherit;
  text-decoration: none;
}

.grid-2 {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 2em;
  justify-items: center;
}


.spacing {
  > * {
    margin: 1em 0;
  }
}

.title {
  font-size: 1.3em;
  font-weight: 500;
  color: rgb(33,33,33);
}


.btn {
  text-decoration: none;
  display: inline-block;
  padding: .7em 1.8em;
  border: none;
  background-color: rgb(6, 141, 51);
  font-weight: 500;
  color: white;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 3px 6px 0 rgba(black, 0.15);
  }
}